# Import the database configuration
include:
  - path: ./database/docker-compose.yaml

services:
  # ==============================
  # FRONTEND (Angular)
  # ==============================
  org-chart-ui:
    build:
      # Path to the Angular folder relative to this file
      context: ./org-chart-ui
      # Specific file to use (optional if named Dockerfile)
      dockerfile: Dockerfile
    container_name: org-chart-ui-app
    ports:
      - "4200:80"
    restart: always
    depends_on:
      - org-chart-api
    
  # ==============================
  # BACKEND (Spring Boot)
  # ==============================
  org-chart-api:
    build:
      context: ./org-chart-api
      dockerfile: Dockerfile
    container_name: org-chart-api-app
    ports:
      - "5001:5001" # Expose API on localhost:8080
    restart: always
    environment:
      # Note: We can refer to 'mysql-db' even though it's in the other file!
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db:3306/org-chart
      - SPRING_DATASOURCE_USERNAME=dbUser
      - SPRING_DATASOURCE_PASSWORD=dbPassword
    depends_on: 
      mysql-db:
        condition: service_healthy
