<div class="canvas-viewport">
  <div class="canvas-surface" wtPannable>
    <mat-tree
      #tree
      [dataSource]="treeData()"
      [childrenAccessor]="childrenAccessor"
      class="org-tree">

      <mat-tree-node *matTreeNodeDef="let node">

        @if (isJob(node)) {
          <div class="job-card" [class.vacant]="!node.occupancy">
            <div class="job-header">
              <mat-icon class="job-icon">work</mat-icon>
              <span class="job-title">{{ node.title }}</span>
            </div>

            @if (node.occupancy; as person) {
              <div class="occupant-info">
                <mat-icon class="person-icon">person</mat-icon>
                <div class="details">
                  <span class="name">{{ person.personName }}</span>
                  <span class="dates">
                  Since {{ person.startDate | date:'mediumDate' }}
                </span>
                </div>
            </div>
            } @else {
              <div class="vacant-info">
                <span>VACANT POSITION</span>
            </div>
            }
          </div>
        }
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <div class="container-node-wrapper">
          <button mat-icon-button matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
              {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
            </mat-icon>
          </button>

          <div class="container-card"
               [ngClass]="{
               'type-org': node.type === OrgNodeType.ORG,
               'type-entity': node.type === OrgNodeType.ORG_ENTITY,
               'type-dept': node.type === OrgNodeType.DEPARTMENT
             }">

            @if (node.type === OrgNodeType.ORG) {
              <mat-icon>corporate_fare</mat-icon>
            }
            @if (node.type === OrgNodeType.ORG_ENTITY) {
              <mat-icon>account_balance</mat-icon>
            }
            @if (node.type === OrgNodeType.DEPARTMENT) {
              <mat-icon>domain</mat-icon>
            }

            <span class="node-title">{{ node.title }}</span>
        </div>
      </div>
      </mat-tree-node>

    </mat-tree>
  </div>

  <div class="canvas-controls">
    <div class="hint-text">
      Click and drag to move
    </div>
  </div>
</div>
