<div class="container">

  <mat-toolbar>
    <span>App to make calls to the back end as a chat bot</span>
  </mat-toolbar>

  <ng-container *ngFor="let message of chatHistory()">

    <div class="answer-container">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>{{ message.user | uppercase }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>{{ message.message }}</mat-card-content>
      </mat-card>
    </div>

  </ng-container>

  <div class="question-container">
    <form [formGroup]="myForm">
      <mat-form-field class="question-field">
        <mat-label>Enter your question</mat-label>
        <textarea matInput
                  formControlName="question"></textarea>
      </mat-form-field>
    </form>

    <button [disabled]="myForm.invalid"
            mat-raised-button
            color="primary"
            (click)="onSubmit()"
    >Submit
    </button>

  </div>

</div>



