<div class="container">
  <mat-toolbar>
    <span>To dos</span>
  </mat-toolbar>

  <div class="todo-list">
    <div class="todo-list-search">
      <mat-form-field floatLabel="never" class="full-width">
        <input matInput type="text" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off"
               (keyup)="applyFilter()">
        <button (click)="onSearchClear()" mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="todo-list-search-actions">
      <button mat-raised-button (click)="create()">
        <mat-icon>add</mat-icon>
        <span>Create</span>
      </button>
    </div>
  </div>

  <div class="todo-list-content">

    <mat-card class="todo-list-content-card" *ngFor="let todo of todos">
      <div> {{todo.name}}</div>
      <div> {{todo.description}}</div>
      <div> {{todo.stateId}}</div>
      <div> {{todo.enabled}}</div>
      <div class="todo-list-content-card-actions">
        <button mat-icon-button [disabled]="!todo.links.updateTodo.href" (click)="onEdit(todo)">
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button color="warn" [disabled]="!todo.links.deleteTodo.href"
                (click)="delete(todo.links.deleteTodo.href)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</div>
