<mat-toolbar>
  <span>To dos Overview</span>
</mat-toolbar>

<div class="home">

  <div class="home-section">
    <div *ngIf="completedTodoLink" class="home-section-item">
      <app-todo-card cardTitle="Completed" [todoLink]="completedTodoLink.href"></app-todo-card>
    </div>
    <div *ngIf="activeTodoLink" class="home-section-item">
      <app-todo-card cardTitle="Ongoing" [todoLink]="activeTodoLink.href"></app-todo-card>
    </div>
    <div *ngIf="upcomingTodoLink" class="home-section-item">
      <app-todo-card cardTitle="Not started" [todoLink]="upcomingTodoLink.href"></app-todo-card>
    </div>

  </div>

</div>

