<h1>Web Socket Chat</h1>

<h1>
  Angular + WebSockets
</h1>
<br>
<div class="row">
  <div class="column">
    <textarea [(ngModel)]="content" name="contentInput" cols="40" rows="5"></textarea>
    <br>
    <button (click)="sendMsg()">Send Message</button>
  </div>

</div>
<br>
<div>
  <h1>Sent Messages</h1>
  <br>
  <ul>
    @for (item of sent; track item){
      <li>Source: {{item.source}} -> Content {{item.message}}</li>
    }
<!--    <li *ngFor="let item of sent">Source: {{item.source}} -> Content {{item.content}}</li>-->
  </ul>
</div>

<br>
<div>
  <h1>Received Messages</h1>
  <br>
  <ul>
    @for (item of received; track item){
      <li>Source: {{item.source}} -> Content {{item.message}}</li>
    }
<!--    <li *ngFor="let item of received">Source: {{item.source}} -> Content {{item.content}}</li>-->
  </ul>
</div>
